@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1500px;
  background-image: url('../src/assets/bg.png');
  background-size: cover; /* Ensures the image covers the entire area */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: cover; /* Centers the image */  
}

.app-Container {
  width:100%;
  height:100vh;
  display: grid;
 
  grid-template-rows:auto 1fr auto;
  
  
  

}
header, main {
  
}
